.DS_Store

# node
node_modules/

# foundry
cache/
out/
lcov*.info
flattened.txt
broadcast
coverage/

# hardhat
artifacts/

# slither
/crytic_export

# env
.env
.env-*

# logs
*.log
trace.json

# python
__pycache__/

# IDE
.idea

# yarn v2
.yarn/

# dist
dist/
