.DS_Store

# node
node_modules/

# foundry
cache/
out/
lcov*.info
flattened.txt
broadcast
coverage/

# slither
/crytic_export

# deployments
deployments/
.contracts*
contracts*.json
manifest.json

# env
.env
.env-*

# logs
*.log
trace.json

# python
__pycache__/

# IDE
.idea

# yarn v2
.yarn/

# dist
dist/
